<div class="container mt-4">
  <div class="row">
    <div class="col-lg-5 mb-5" style="margin-left: -150px;">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ editandoId !== null ? 'Editar Menú' : 'Nuevo Menú' }}</h3>
          <form (submit)="guardarEdicion()" #menuForm="ngForm">
            <div class="form-group">
              <label for="nombre" class="lead">Nombre:</label>
              <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoMenu.nombrem" name="nombre" required
                pattern="^[A-Za-záéíóúÁÉÍÓÚñÑ\s]+$" (keypress)="validarLetras($event)">
              <div
                *ngIf="menuForm.controls['nombre'].invalid && (menuForm.controls['nombre'].dirty || menuForm.controls['nombre'].touched)">
                <span class="text-danger"
                  *ngIf="!menuForm.controls['nombre'].errors?.['required'] && menuForm.controls['nombre'].errors?.['pattern']">Solo
                  se permiten letras en el nombre.</span>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-secondary ml-2" *ngIf="editandoId !== null"
                (click)="cancelarEdicion()">Cancelar</button> <button type="submit" class="btn btn-primary">{{
                editandoId !== null ? 'Guardar Cambios' : 'Crear Nuevo' }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <h3 class="card-title">Listado de Menús - {{ filtroEstado === 'A' ? 'Disponibles' : 'Archivados' }} </h3>
            <button (click)="exportarAExcel()" class="btn btn-success">
              <i class="bi bi-file-earmark-excel-fill mr-1"></i> Exportar a Excel
            </button>
            <button (click)="exportarAPDF()" class="btn btn-danger">
              <i class="bi bi-file-earmark-pdf-fill mr-1"></i> Exportar a PDF
            </button>
          </div>

          <div class="d-flex justify-content-between mb-3">
            <div>
              <span class="badge badge-warning mr-4">Cantidad total de Menus: {{menus.length}}</span>
              <label for="filtroEstado" class="mr-2">Filtrar:</label>
              <select id="filtroEstado" [(ngModel)]="filtroEstado" (change)="cambiarFiltroEstado()">
                <option value="A">Disponibles</option>
                <option value="I">Archivados</option>
              </select>
            </div>
            <div>
              <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="filtroNombre" (input)="filtrarMenus()">

            </div>
          </div>


          <div class="table-responsive">
            <table class="table table-bordered table-striped"
              *ngIf="menus.length > 0 && !errorAlCargarMenus; else noMenus">
              <thead class="thead-dark">
                <tr>
                  <th>Nombre</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let menu of pagedMenus">
                  <td>{{ menu.nombrem }}</td>
                  <td>
                    <button *ngIf="mostrarBoton(menu.estado) && filtroEstado === 'A'" class="btn btn-danger btn-sm"
                      (click)="eliminarMenu(menu.menuid)">Archivar</button>
                    <button *ngIf="mostrarBoton(menu.estado) && filtroEstado === 'A'" class="btn btn-primary btn-sm"
                      (click)="editarMenu(menu.menuid)">Editar</button>
                    <button *ngIf="mostrarBoton(menu.estado) && filtroEstado === 'I'" class="btn btn-success btn-sm"
                      (click)="restaurarMenu(menu.menuid)">Restaurar</button>
                  </td>
                </tr>
              </tbody>
            </table>
            <ng-template #noMenus>
              <div class="alert alert-warning" role="alert" *ngIf="errorAlCargarMenus; else noData">
                Error al cargar los menús. Intente nuevamente más tarde.
              </div>
              <ng-template #noData>
                <div class="alert alert-warning" role="alert">
                  No hay menús por mostrar.
                </div>
              </ng-template>
            </ng-template>
          </div>

          <pagination-controls
          (pageChange)="setPage($event)"
          previousLabel="Anterior"
          nextLabel="Siguiente"
          class="my-pagination"
          *ngIf="menus.length > itemsPerPage">
        </pagination-controls>
        

        </div>
      </div>
    </div>
  </div>
</div>