<div class="container">
  <div class="row">
    <!-- Columna del formulario -->
    <div class="col-md-5">
      <h2>{{ restauranteForm.value.id ? 'Editar' : 'Crear' }} Restaurante</h2>

      <form [formGroup]="restauranteForm" (ngSubmit)="manejarRestauranteForm()">
        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" class="form-control" id="nombre" formControlName="nombre">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion" formControlName="direccion">
          </div>

          <div class="form-group col-md-6">
            <label for="telefono">Teléfono:</label>
            <input type="text" class="form-control" id="telefono" formControlName="telefono" pattern="^\d{9}$"
              maxlength="9">
            <div
              *ngIf="restauranteForm.get('telefono')?.errors?.['pattern'] && restauranteForm.get('telefono')?.touched"
              class="text-danger">
              Debe haber exactamente 9 dígitos.
            </div>
          </div>

        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="tipoCocina">Tipo de Cocina:</label>
            <input type="text" class="form-control" id="tipoCocina" formControlName="tipoCocina">
          </div>
          <div class="form-group col-md-6">
            <label for="capacidadPersonas">Capacidad de Personas:</label>
            <input type="text" class="form-control" id="capacidadPersonas" formControlName="capacidadPersonas">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="horaApertura">Hora de Apertura:</label>
            <input type="time" class="form-control" id="horaApertura" formControlName="horaApertura">
          </div>
          <div class="form-group col-md-6">
            <label for="horaCierre">Hora de Cierre:</label>
            <input type="time" class="form-control" id="horaCierre" formControlName="horaCierre">
          </div>
        </div>
        <div class="form-group">
          <label for="ruc">RUC:</label>
          <input type="text" class="form-control" id="ruc" formControlName="ruc" pattern="^20\d{9}$" maxlength="11"
            required [readonly]="restauranteForm.get('id')?.value">
          <div *ngIf="restauranteForm.get('ruc')?.hasError('pattern') && restauranteForm.get('ruc')?.touched"
            class="text-danger">
            El RUC debe comenzar con '20' seguido de 9 dígitos.
          </div>
        </div>


        <div class="form-group">
          <label>Imagen del Restaurante:</label>
          <div class="form-row">
            <div class="col-md-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="subirImagen" formControlName="opcionImagen"
                  value="subir">
                <label class="form-check-label" for="subirImagen">Subir Imagen</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-check">
                <input class="form-check-input" type="radio" id="urlImagen" formControlName="opcionImagen" value="url">
                <label class="form-check-label" for="urlImagen">URL de Imagen</label>
              </div>
            </div>
          </div>

          <div class="mt-2">
            <div *ngIf="restauranteForm.get('opcionImagen')?.value === 'subir'">
              <input type="file" class="form-control-file" (change)="onFileSelected($event)">
            </div>

            <div *ngIf="restauranteForm.get('opcionImagen')?.value === 'url'">
              <input type="text" class="form-control" formControlName="urlImagen"
                placeholder="Ingrese la URL de la imagen">
            </div>
          </div>

          <img *ngIf="imagenPreview" [src]="imagenPreview" alt="Vista Previa de la Imagen" class="img-fluid mt-3">
        </div>

        <div>

          <button type="submit" class="btn btn-primary"
            [disabled]="totalRestaurantes >= 3 && !restauranteForm.get('id')?.value">
            {{ restauranteForm.get('id')?.value ? 'Editar' : 'Crear' }} Restaurante
          </button>

          <button *ngIf="restauranteForm.get('id')?.value" type="button" class="btn btn-secondary ml-2"
            (click)="cancelarEdicion()">Cancelar</button>

        </div>
      </form>
      <div class="alert alert-info mt-3">
        <p>Restaurantes creados: {{ totalRestaurantes }} / 3</p>
        <p *ngIf="totalRestaurantes < 3">Puedes crear {{ 3 - totalRestaurantes }} restaurante(s) más.</p>
        <p *ngIf="totalRestaurantes >= 3">Has alcanzado el límite de restaurantes. No puedes crear más.</p>
      </div>
    </div>





    <!-- Columna de la tabla -->
    <div class="col-md-7">
      <h2>Listado de Restaurantes</h2>
      
      <div *ngIf="restaurantes.length === 0" class="alert alert-info">No hay restaurantes registrados.</div>
      <!-- Botones para exportar -->

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Imagen</th>
            <th scope="col">Nombre</th>
            <th scope="col">Dirección</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Tipo de Cocina</th>
            <th scope="col">Capacidad de Personas</th>
            <th scope="col">Horario</th>
            <th scope="col">RUC</th>

            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let restaurante of restaurantes | paginate: { itemsPerPage: 4, currentPage: page, totalItems: totalRestaurantes }">
            <td><img [src]="restaurante.imagenRestaurante" alt="Imagen del restaurante" class="img-fluid"></td>
            <td>{{ restaurante.nombre }}</td>
            <td>{{ restaurante.direccion }}</td>
            <td>{{ restaurante.telefono }}</td>
            <td>{{ restaurante.tipoCocina }}</td>
            <td>{{ restaurante.capacidadPersonas }}</td>
            <td>{{ restaurante.horarioFuncionamiento }}</td>
            <td>{{ restaurante.ruc }}</td>

            <td>
              <button type="button" class="btn btn-primary btn-sm" (click)="verRestaurante(restaurante)">Editar</button>
              <!-- <button type="button" class="btn btn-danger btn-sm ml-2" (click)="desactivarRestaurante(restaurante)" *ngIf="restaurante.estado">Desactivar</button>
              <button type="button" class="btn btn-warning btn-sm ml-2" (click)="restaurarRestaurante(restaurante)" *ngIf="!restaurante.estado">Restaurar</button> -->
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
      <button class="btn btn-primary mr-2" (click)="exportarCSV()">Exportar a CSV</button>
      <button class="btn btn-danger" (click)="exportarPDF()">Exportar a PDF</button>
    </div>
    
  </div>
</div>

<div class="container mt-4">
  <h2>Listado de Restaurantes</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Logo</th>
        <th scope="col">Nombre</th>
        <th scope="col">RUC</th>
        <th scope="col">Razón Social</th>
        <th scope="col">Tipo de Negocio</th>
        <th scope="col">Categoría</th>
        <th scope="col">Dirección</th>
        <th scope="col">Ciudad</th>
        <th scope="col">País</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Email</th>
        <th scope="col">Sitio Web</th>
        <th scope="col">Métodos de Pago</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let restaurante of restaurantes">
        <td><img [src]="restaurante.media.logo" alt="Logo del restaurante" class="img-fluid" style="max-width: 50px;"></td>
        <td>{{ restaurante.nombre }}</td>
        <td>{{ restaurante.informacionNegocio.ruc }}</td>
        <td>{{ restaurante.informacionNegocio.razonSocial }}</td>
        <td>{{ restaurante.informacionNegocio.tipoNegocio }}</td>
        <td>{{ restaurante.informacionNegocio.categoria.join(', ') }}</td>
        <td>{{ restaurante.ubicacion.direccion }}</td>
        <td>{{ restaurante.ubicacion.ciudad }}</td>
        <td>{{ restaurante.ubicacion.pais }}</td>
        <td>{{ restaurante.contacto.telefono }}</td>
        <td>{{ restaurante.contacto.email }}</td>
        <td><a [href]="restaurante.contacto.sitioWeb" target="_blank">{{ restaurante.contacto.sitioWeb }}</a></td>
        <td>{{ restaurante.metodosPago.join(', ') }}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm" (click)="verRestaurante(restaurante)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>