<div>
  <nav id="navbar" class="navbar fixed-top navbar-expand-lg"
    [ngClass]="{
      'navbar-transparent': isTransparent && showMenu,
      'navbar-scrolled': !isTransparent && showMenu,
      'colorAdmin': userRole === 'admin',
      'colorGestor': userRole === 'gestor'
    }">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="#" class="sparkle-hover" (click)="redireccionar($event)">
            <img src="assets/img/eating.gif" alt="Logo" style="height: 25px;"> GastroConnect
          </a></h1>
      </div>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="main" class="nav-link"><i class="fas fa-home"></i> Inicio</a>
          </li>
          <li class="nav-item" *ngIf="userName && userRole === 'admin'">
            <a routerLink="monitorear" class="nav-link"><i class="fas fa-users"></i> Monitorear</a>
          </li>
         
          <li class="nav-item" *ngIf="userName && (userRole === 'gestor' || userRole === 'admin')">
            <a routerLink="platos" class="nav-link"><i class="fas fa-utensil-spoon"></i> Platos</a>
          </li>
          <li class="nav-item" *ngIf="userName && (userRole === 'admin' || userRole === 'gestor' ||userRole === 'comensal' )">
            <a routerLink="selector" class="nav-link"><i class="fas fa-tasks"></i> Gestionar</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <span *ngIf="userRole === 'admin' || userRole === 'gestor'" class="badge mr-4" 
          [ngStyle]="{'background-color': userRole === 'admin' ? 'var(--colorAdmin)' : 'var(--colorGestor)'}" 
          style="text-transform: capitalize;">{{ userRole }}</span>          <li class="nav-item" *ngIf="userName; else login">
            <span class="navbar-text mr-3 welcome-text">👋 Bienvenido, {{ userName }} 😊</span>
            <button (click)="logout()" class="btn btn-danger"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</button>
          </li>
          <ng-template #login>
            <li class="nav-item">
              <a routerLink="login" class="btn btn-success nav-link"><i class="fas fa-sign-in-alt"></i> Iniciar
                sesión</a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
