<div class="container  mt-4">
    <div class="row">



        <!-- Columna del Formulario -->
        <div class="col-md-3 formulario-card">
            <h3>{{ modoEdicion ? 'Editar Plato' : 'Agregar Plato' }}</h3>
            <form (ngSubmit)="guardarPlato()" #platoForm="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre(s):</label>
                    <input type="text" class="form-control" id="nombre" [(ngModel)]="plato.nombre" name="nombre"
                        required>
                    <div *ngIf="platoForm.controls['nombre'].invalid && platoForm.controls['nombre'].touched"
                        class="text-danger">Campo requerido</div>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripción:</label>
                    <input type="text" class="form-control" id="descripcion" [(ngModel)]="plato.descripcion"
                        name="descripcion" required>
                    <div *ngIf="platoForm.controls['descripcion'].invalid && platoForm.controls['descripcion'].touched"
                        class="text-danger">Campo requerido</div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="precio">Precio:</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">S/</span>
                            </div>
                            <input type="number" class="form-control" id="precio" [(ngModel)]="plato.precio"
                                name="precio" required min="1">
                        </div>
                        <div *ngIf="platoForm.controls['precio'].invalid && platoForm.controls['precio'].touched"
                            class="text-danger">Campo requerido</div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="stock">Stock:</label>
                        <input type="number" class="form-control" id="stock" [(ngModel)]="plato.stock" name="stock"
                            required min="0">
                        <div *ngIf="platoForm.controls['stock'].invalid && platoForm.controls['stock'].touched"
                            class="text-danger">Campo requerido</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_categoria">Categoría:</label>
                        <ng-select [items]="categorias" bindLabel="nombre" bindValue="id"
                            [placeholder]="plato.id_categoria ? '' : 'Selecciona una categoría'"
                            [(ngModel)]="plato.id_categoria" name="id_categoria" required>
                        </ng-select>
                        <div *ngIf="platoForm.controls['id_categoria'].invalid && platoForm.controls['id_categoria'].touched"
                            class="text-danger">Campo requerido
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="id_presentacion">Presentación:</label>
                        <ng-select [items]="presentaciones" bindLabel="tipo" bindValue="id"
                            [placeholder]="plato.id_presentacion ? '' : 'Selecciona una presentación'"
                            [(ngModel)]="plato.id_presentacion" name="id_presentacion" required>
                        </ng-select>
                        <div *ngIf="platoForm.controls['id_presentacion'].invalid && platoForm.controls['id_presentacion'].touched"
                            class="text-danger">Campo requerido
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="imagen">Imagen:</label>
                    <input type="file" class="form-control-file" id="image" (change)="onFileSelected($event)"
                        accept="image/*">
                </div>




                <button type="submit" class="btn btn-primary" [disabled]="!restauranteSeleccionado">
                    {{ modoEdicion ? 'Guardar' : 'Agregar' }}
                </button> <button type="button" class="btn btn-secondary ml-2" *ngIf="modoEdicion"
                    (click)="cancelarEdicion()">Cancelar</button>
            </form>
        </div>




        <!-- Columna del Listado -->
        <div class="col-md-9 listado-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title mb-0" style="padding-bottom: 30px;">
                        Listado de Productos - {{ filtroEstado === 'A' ? 'Disponibles' : 'Archivados' }}
                    </h3>

                    <!-- Botones de exportar a Excel y PDF -->
                    <div class="d-flex">
                        <button (click)="exportarAExcel()" class="btn btn-success ml-3">
                            <i class="bi bi-file-earmark-excel-fill mr-1"></i> Exportar a Excel
                        </button>
                        <button (click)="exportarAPDF()" class="btn btn-danger ml-2">
                            <i class="bi bi-file-earmark-pdf-fill mr-1"></i> Exportar a PDF
                        </button>
                    </div>
                </div>
            </div>
            <!-- Filtrado y búsqueda -->
            <div class="d-flex justify-content-between align-items-center mb-3">
                <span class="badge badge-warning mr-3">Cantidad total de productos: {{ totalidad }}</span>


                <span style="margin-right: 10px;">Restaurante:</span>
                <select class="form-control" id="restaurante" [(ngModel)]="selectedRestauranteRuc"
                    (change)="cambiarFiltroRestaurante()" class="form-control filtro-select"
                    style="width: 150px; margin-right: 10px;">
                    <option value="">Seleccione un restaurante</option>
                    <option *ngFor="let restaurante of restaurantes" [value]="restaurante.ruc">
                        {{restaurante.nombre}}
                    </option>
                </select>

                <span style="margin-right: 10px;">Filtrar por:</span>
                <select id="filtroEstado" [(ngModel)]="filtroEstado" (change)="cambiarFiltroEstado()"
                    class="form-control filtro-select" style="width: 150px; margin-right: 10px;">
                    <option value="A">Disponibles</option>
                    <option value="I">Archivados</option>
                </select>



                <input type="text" class="form-control ml-auto" placeholder="Buscar..." style="width: 200px;"
                    (input)="buscarPlatos($event)">
            </div>

            <div class="table-responsive" *ngIf="platosFiltrados?.length && !errorAlCargar">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 10%;">Imagen</th>
                            <th style="width: 15%;">Nombre</th>
                            <th style="width: 25%;">Descripción</th>
                            <th style="width: 10%;">Precio</th>
                            <th style="width: 10%;">Categoría</th>
                            <th style="width: 10%;">Presentación</th>
                            <th style="width: 10%;">Stock</th>
                            <th style="width: 10%;" class="text-center">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Utilizamos el paginate pipe para mostrar los platos por página -->
                        <tr
                            *ngFor="let plato of platosFiltrados | paginate: { itemsPerPage: 4, currentPage: page, totalItems: totalPlatos }">
                            <td><img [src]="plato.image" alt="Imagen del plato" style="width:80px; height:auto"></td>
                            <td style="word-wrap: break-word;">{{ plato.nombre }}</td>
                            <td style="word-wrap: break-word;">{{ plato.descripcion }}</td>
                            <td>S/ {{ plato.precio.toFixed(2) }}</td>
                            <td>{{ getNombreCategoria(plato.id_categoria) }}</td>
                            <td>{{ getTipoPresentacion(plato.id_presentacion) }}</td>
                            <td>{{ plato.stock }}</td>
                            <td class="text-center">
                                <button class="btn btn-primary mb-1" (click)="editarPlato(plato)">Editar</button><br>
                                <button class="btn mb-1"
                                    [ngClass]="{'btn-success': plato.estado === 'I', 'btn-danger': plato.estado === 'A'}"
                                    (click)="plato.estado === 'I' ? restaurarplato(plato) : desactivarPlato(plato)"
                                    style="width: 100px;">
                                    {{ plato.estado === 'I' ? 'Restaurar' : 'Archivar' }}
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Paginación -->
            <pagination-controls *ngIf="platosFiltrados?.length && !errorAlCargar"
                (pageChange)="page = $event"></pagination-controls>

            <!-- Mensaje de error -->
            <ng-container *ngIf="errorAlCargar">
                <div class="alert alert-warning" role="alert" style="padding-top: 5px; margin-top: 30px;">
                    Error al cargar los productos. Intente nuevamente más tarde.
                </div>
            </ng-container>

            <!-- Mensaje de no hay platos -->
            <ng-container *ngIf="!platosFiltrados?.length && !errorAlCargar">
                <div class="alert alert-warning" role="alert" style="padding-top: 5px; margin-top: 30px;">
                    No hay productos por mostrar.
                </div>
            </ng-container>

        </div>
    </div>
</div>